---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} The Setup Vault. All rights reserved.
	<div class="social-links">
		<a href="https://www.pinterest.com/thesetupvault_/" target="_blank">Pinterest</a>
		<a href="https://beacons.page/thesetupvault" target="_blank">Beacons</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1.5em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: underline;
		color: rgb(var(--gray));
		font-weight: 600;
	}
	.social-links a:hover {
		color: var(--accent);
	}
</style>
